.todo-list-heading {
  font-size: 32px; 
  color: #4CAF50; 
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
  letter-spacing: 2px; 
}

.todo-list-heading {
  font-size: 32px; 
  color: #4CAF50; 
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
  letter-spacing: 2px; 
  opacity: 0; 
  animation: fadeIn 1s ease forwards; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.edit-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.delete-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f34d4d;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.add-todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-todo-item:hover input[type="text"] {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.add-todo-item input[type="text"] {
  width: 50%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--accent-color);
  transition: border-color 0.3s ease;
  font-size: large;
}

.add-todo-item input[type="text"]:hover {
  border-color: #ccc;
}

.add-todo-item input[type="text"]:focus {
  border-color: var(--accent-color);
}

.add-todo-item input[type="text"]:focus + button {
  background-color: #f9ca24;
}

.add-todo-item button {
  margin-top: 1px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-todo-item button:hover {
  background-color: #f9ca24;
  transform: translateY(-2px);
}

.add-todo-item button:focus {
  outline: none;
}

.add-todo-item button:active {
  transform: translateY(0);
  box-shadow: none;
}

.edit-button:hover
{
  background-color: #45a049; 
}
.delete-button:hover {
  background-color: #fd0d0d; 
}

.todo-item:hover {
  background-color: #43077d; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.filter-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fafcfc;
  font-size: 16px;
  cursor: pointer;
}
.filter-container select:hover {
  background-color: #f0f0f0; 
  border-color: #999; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.filter-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-container {
  
  margin-right: 10px; 
}
.filter-subheading {
  font-size: 18px;
    color: #333;
    margin: 0px;
    font-family: serif;
    margin-top: 38px;
}

.search-container input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fdfdfd;
  font-size: 16px;
  margin-top: 58px;
}
.search-container input[type="text"]:hover {
  border-color: #999; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0;
}

.search-container input[type="text"]:focus {
  outline: none; 
  border-color: #f456f7; 
  
}
.search-container {
  flex: 1; 
}


.todo-image {
  position: absolute;
  top: 0;
  left: 0;
}
.todo-image img {
  width: 73px;
    height: 75px
}

@media only screen and (max-width: 600px) {
  .todo-image img {
    width: 50px;
    height: auto;
  }
}

.save-button{
  margin-left: 10px;
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cancel-button {
  margin-left: 10px;
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  background-color: #f34d4d;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover{
  background-color: #45a049;
}

.cancel-button:hover {
  background-color: #fd0d0d;
}

.save-button:focus,
.cancel-button:focus {
  outline: none;
}

.save-button:active,
.cancel-button:active {
  transform: translateY(1px);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust as needed */
  transform: translateY(-50%);
}